/* line 5, /home/jews/IronJacamar/ironjacamar.org/stylesheets/modules/_header.scss */
header {
  background-color: #111111; }
/* line 7, /home/jews/IronJacamar/ironjacamar.org/stylesheets/modules/_header.scss */
header section {
  padding: 5px;
  text-align: center; }

/* line 7, /home/jews/IronJacamar/ironjacamar.org/stylesheets/modules/_article.scss */
article {
  background: #FFFFFF;
  background-color: #FFFFFF;
  padding: 5px;
  margin: 0 auto; }

/* line 10, /home/jews/IronJacamar/ironjacamar.org/stylesheets/modules/_footer.scss */
footer {
  background: #111111;
  color: #777777;
  text-align: center;
  padding: 20px 0px 20px 0px; }
/* line 15, /home/jews/IronJacamar/ironjacamar.org/stylesheets/modules/_footer.scss */
footer ul, footer li {
  float: none;
  position: relative; }
/* line 19, /home/jews/IronJacamar/ironjacamar.org/stylesheets/modules/_footer.scss */
footer ul {
  margin: 0 0 20px 0;
  padding-bottom: 20px;
  list-style-type: none; }
/* line 23, /home/jews/IronJacamar/ironjacamar.org/stylesheets/modules/_footer.scss */
footer ul li {
  display: inline-block;
  margin: 0 10px; }
/* line 26, /home/jews/IronJacamar/ironjacamar.org/stylesheets/modules/_footer.scss */
footer ul li a {
  color: #cccccc; }
/* line 28, /home/jews/IronJacamar/ironjacamar.org/stylesheets/modules/_footer.scss */
footer ul li a:hover {
  text-decoration: none;
  color: #29a3d0; }

/* line 9, /home/jews/IronJacamar/ironjacamar.org/stylesheets/styles.scss */
body {
  background-color: #EEEEEE;
  max-width: 1024px;
  margin: 0 auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

/* line 16, /home/jews/IronJacamar/ironjacamar.org/stylesheets/styles.scss */
h1, h2, h3, h4 {
  color: #4a5d75; }

/* line 19, /home/jews/IronJacamar/ironjacamar.org/stylesheets/styles.scss */
h1 {
  font-size: 22px; }

/* line 22, /home/jews/IronJacamar/ironjacamar.org/stylesheets/styles.scss */
h2 {
  font-size: 20px; }

/* line 25, /home/jews/IronJacamar/ironjacamar.org/stylesheets/styles.scss */
h3 {
  font-size: 18px; }

/* line 28, /home/jews/IronJacamar/ironjacamar.org/stylesheets/styles.scss */
h4 {
  font-size: 16px; }

/* line 31, /home/jews/IronJacamar/ironjacamar.org/stylesheets/styles.scss */
h5 {
  font-size: 14px; }

/* line 35, /home/jews/IronJacamar/ironjacamar.org/stylesheets/styles.scss */
ul, ol {
  margin: inherit; }

/* line 37, /home/jews/IronJacamar/ironjacamar.org/stylesheets/styles.scss */
.interview-table table {
  width: 100%;
  border: 0px;
  border-collapse: collapse;
  text-align: left;
  padding-left: 8px;
  padding-right: 8px; }

/* line 46, /home/jews/IronJacamar/ironjacamar.org/stylesheets/styles.scss */
.interview-table table tr {
  vertical-align: bottom;
  valign: bottom; }

/* line 51, /home/jews/IronJacamar/ironjacamar.org/stylesheets/styles.scss */
.news-table table {
  border: 0px;
  border-collapse: collapse;
  text-align: left;
  padding-left: 8px; }

/* line 58, /home/jews/IronJacamar/ironjacamar.org/stylesheets/styles.scss */
.download-table table {
  border: #ababab solid 1px;
  border-collapse: collapse; }

/* line 63, /home/jews/IronJacamar/ironjacamar.org/stylesheets/styles.scss */
.download-table th {
  border: #ababab solid 1px;
  background-color: #DDDDDD;
  text-align: left;
  font-weight: normal;
  padding-left: 8px; }

/* line 71, /home/jews/IronJacamar/ironjacamar.org/stylesheets/styles.scss */
.download-table td {
  padding-left: 8px; }

/* line 75, /home/jews/IronJacamar/ironjacamar.org/stylesheets/styles.scss */
.download-table-right {
  text-align: right;
  padding-right: 8px; }

/* line 80, /home/jews/IronJacamar/ironjacamar.org/stylesheets/styles.scss */
.download-table tr:nth-of-type(odd) {
  background: #f3f6fa; }

/* line 84, /home/jews/IronJacamar/ironjacamar.org/stylesheets/styles.scss */
.download-table tr:nth-of-type(even) {
  background: #ffffff; }

/* line 88, /home/jews/IronJacamar/ironjacamar.org/stylesheets/styles.scss */
.code {
  font-family: "Lucida Console", Monaco, monospace; }

/* line 92, /home/jews/IronJacamar/ironjacamar.org/stylesheets/styles.scss */
.code_small {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 10px; }

/* line 97, /home/jews/IronJacamar/ironjacamar.org/stylesheets/styles.scss */
.usage table {
  width: 100%;
  border-collapse: collapse; }

/* line 102, /home/jews/IronJacamar/ironjacamar.org/stylesheets/styles.scss */
.usage table td {
  text-align: left;
  valign: top; }
